@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<base href="/">
<body ng-app="myApp">
@*{{2 + 2}*@
    @*<div ui-view="login"></div>*@

    <ui-view></ui-view>
    @Scripts.Render("~/bundles/Angular")
    @Scripts.Render("~/bundles/ClientControllers")
    @Scripts.Render("~/bundles/NgApp")
    @Scripts.Render(" ~/bundles/Router")
 
</body>

